:root {
    --secondary-theme-color: #fcd34d;
    --sidebar-theme-color: #1a0531;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;

    padding: 0;
    margin: 0;
}


/* SIDEBAR AREA */
.sidebar {
    background-color: var(--sidebar-theme-color);
    min-height: 100vh;
    width: max(15vw, 270px);

    display: flex;
    flex-direction: column;
    gap: 3rem;

    color: white;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    
    padding-left: 1rem;
}

.sidebar-first-row,
 .sidebar-second-row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 2rem;
    font-size: 1.4rem;
    font-weight: 600;

    gap: 1rem;
}

.sidebar-btn a {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;

    gap: 0.5rem;
}

.sidebar-btn a p {
    margin: 0;
}
/* END OF SIDEBAR AREA */

.right-side {
    display: flex;
    flex-direction: column;

    width: 85vw;
}

/* HEADER AREA */
.header {
    background-color: white;
    position: relative;
    height: max(200px, 22vh);
    width: auto;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);

    display: grid;
    grid-template-rows: 75px 1fr;

}

.upper-header {
    /* background-color: #fcd34d; */


    width: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#header-search-form {
    height: 2.5rem;

    display: flex;
    align-items: center;

    gap: 10px;
    padding-left: 50px;
}

#header-search-bar {
    height: 2rem;
    width: 100%;

    outline: none;
    border: none;
    padding-left: 20px;

    border-radius: 25px;

    background-color: #e2e8f0;
}

#header-search-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#header-search-icon {
    width: 25px;
    height: 1.5rem;

    margin: 0;
}

.header-notifications {
    justify-self: end;
    align-self: center;

    margin-right: 2rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;

}

#upper-header-profile-pic {
    height: 2.5rem;

    border-radius: 50%;
}


.bottom-header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;

}

.bottom-header-profile {
    grid-column: 1 / 3;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding-left: 50px;
}

#bottom-header-profile-pic {
    height: 5rem;

    border-radius: 50%;
}

.bottom-header-profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.2rem;

    font-size: 0.9rem;
}

.bottom-header-profile-text p {
    margin: 0;
}

.bottom-header-profile-text h2 {
    margin: 0;
}

.bottom-header-upload {
    display: flex;
    justify-content: end;
    gap: 3rem;

    padding-right: 3rem;
}

.bottom-header-upload-button {
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    
    background-color: var(--sidebar-theme-color);
    color: white;

    height: 2rem;
    width: 100px;

    border-radius: 20px;
}

.bottom-header-upload-button:hover {
    background-color: black;
}
/* END HEADER AREA */

/* CONTENT AREA */
.content {
    background-color: #e2e8f0;

    width: auto;
    min-height: auto;
    padding: 25px;

    display: grid;
    gap: 50px;
    grid-template-columns: repeat(5, 1fr);
}

.content h2 {
    font-size: 1.4rem;
}

.projects {
    grid-column: 1 / 5;
}

.project-cards {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, clamp(200px, 200px, 350px));
    gap: 25px;

    overflow: auto;
}

.project-card {
    border-radius: 10px;
    background-color: white;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);

    display: grid;
    grid-template-columns: 0.5rem 1fr;

    gap: 2rem;

    overflow: auto;
}

.project-card .accent-color {
    background-color: var(--secondary-theme-color);
    width: 100%;
    height: 100%;
}

.project-card-content {
    display: grid;
    grid-template-rows: 1fr, 2rem;
    margin-right: 2rem;
    margin-top: 1rem;


}

.project-card-text {
}

.project-card-text h1 {
    font-size: 1.4rem;
}

.project-card-text p {
    font-size: 0.9rem;

}

.project-card-icons {
    justify-self: end;
}

.right-popups {
    display: grid;
    grid-template-rows: 600px 300px;

    width: max(250px, 10vw);
    min-height: 100vh;
}

.announcements-area {
    width: 100%;
    height: 100%;

}

.announcements {
    background-color: white;
    height: 85%;

    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    padding: 10px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);

    overflow: hidden;
}

.announcement {
    display: flex;
    flex-direction: column;

    margin: 20px;
    margin-bottom: 0px;
    overflow-wrap: break-word;
    word-break: break-all;
}

.announcement-title {
    margin: 0px;
    padding-bottom: 0px;

    font-weight: 600;
    font-size: 1.1rem;
}

.announcement-text {
    font-size: 0.9rem;
    margin: 0px;
    padding: 0px;

    overflow-wrap: break-word;
    word-break: break-all;
}

.announcement-text p {
}

.announcement-border {
    align-self: center;
    justify-self: center;
    width: 50%;
    height: 1px;
    background-color: #E0E0E0;
}

.trending-area {

}

.trending {
    background-color: white;

    width: 100%;
    height: 200px;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 100%;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.trending-profile {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;

    padding-left: 50px;

}

.trending-profile-pic img {
    height: 3.4rem;
    border-radius: 50%;

}

.trending-profile-details {
    display: flex;
    flex-direction: column;
}

.trending-profile-name h1 {
    margin: 0;
    font-size: 1.2rem;
}

.trending-profile-post p {
    margin: 0;
    font-size: 0.8rem;
}

/* END OF CONTENT AREA */

